extends layout

block content
  div(class="page-header")
    a(href='/books' class="btn btn-success pull-right") Let's get started!
    h1= title

  p This is a project to practice Node / Express / MongoDB / Mongoose - Crud
